.site-cards{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

#card-set-style{
    margin-top: 5%;
    margin-right: 10%;
}

#card-view-style{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 7%;
}
  
  .card-swiper-image{
    width: 100%;
    padding: 17px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    min-width: 100%;
  }
  
  .card-swiper-footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 25px;
    padding: 20px;
  }
  