.site{
    padding-top:5%;
    padding-left:24%;
}

.site-notloaded{
    color:rgba(0,0,0,0.2)
}

.header-color{
    width: 30%;
}

#home-website{
    margin-top: 3%;
}
#home-carousel-title{
    color: rgba(0,0,0,0.4);
    margin-bottom: 3%;
}
#home-carousel-column{
    margin-right: 5%;
}
#home-carousel-column-2{
    margin-top: 10%;
}
#home-carousel-input{
    margin-bottom: 4%;
}
.website-colors-title{
    color:rgba(0,0,0,0.6)
}