.modal-produto {
  position: fixed;
  z-index: 1000;
  margin-left: -10%;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
}

.modal-produto-content {
  margin-top: 12.5%;
  margin-left: 10%;
  width: 70%;
  height: 50%;
  background-color: rgb(221, 221, 221);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  text-align: center;
  padding: 25px;
}

.modal-produto-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-button {
  border-radius: 20px;
  background-color: whitesmoke;
  border: 0.1px 0.1px solid rgba(0, 0, 0, 0.5);
}

.modal-title-button {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.select-category-modal {
  width: 95%;
  border-radius: 5px;
  font-size: 13pt;
  margin-top: -12%;
  margin: 3%;
  background-color: white;
  text-align: center;
}

#modal-info-text {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 2%;
}

#modal-alter-save-button {
  margin: 5%;
  margin-top: 1%;
  width: 90%;
}
