.pedidos {
  padding-top: 6%;
  padding-left: 23%;
  padding-right: 20%;
  background-color: white;
  min-width: 115%;
}

.pedidos-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 24.5%;
}

.pedido{
  width: 81%;
  height: 50%;
  padding:30px;
  background-color: rgba(0,0,0, 0.03);
  box-shadow: 1px 1px 20px rgba(0,0,0, 0.3);
  text-align: center;
  margin-bottom: 6.5%;
}

.pedidos-title {
  color: #252525;
  font-weight: 530;
}

.pedido-header{
  display: flex;
  background-color: rgba(0,0,0, 0.04);
  padding: 15px;
}

#pedido-th{
  min-width: 70%;
  max-width: 70%;
}
.pedido-td{
  min-width: 70%;
  max-width: 70%;
}

.pedido-image{
  width: 100%;
  height: 100%;
  align-self: center;
}

.pedidio-footer{
  display: flex;
}

.profile-image{
  max-width: 100%;
  border: 0.01px rgba(0,0,0,0.2) solid;
}

.pedido-send-track-code{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}


@media only screen and (max-width: 455px) {
  .pedidos{
    padding-left: 22%;
  }
  .pedidos-title{
    margin-top: 26%;
    width: 100%;
  }
  #card-id {
    width: 100%;
  }
}
